APP_NAME=RiskyBrick API
APP_ENV=development
DEBUG=true
BAG_SEARCH_URL=https://api.pdok.nl/bzk/locatieserver/search/v3_1/free
BAG_REQUEST_TIMEOUT=5
ZAANSTAD_WFS_URL=https://maps.zaanstad.nl/geoserver/wfs
REGIONAL_MAP_REQUEST_TIMEOUT=5
